.searchbox_container {
  width: 100%;
  height: auto;
  background: var(--white);
  margin: auto;
  position: relative;
  z-index: 10;
  padding: 30px;
}

.searchbox_container h2 {
  font-size: 1.2rem;
}

.search_terms {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.input_control {
  margin-top: 20px;
}

.search_btn {
  background: var(--accent);
  border: none;
  outline: none;
  padding: 10px 20px;
  color: var(--white);
  width: 100%;
  cursor: pointer;
}
